version: '3'

volumes:
  pgdatasource:

services:
  db:
    image: postgres
    restart: always
    environment:
     - DATABASE_HOST=127.0.0.1
     - POSTGRES_USER=postgres
     - POSTGRES_PASSWORD=docker
     - POSTGRES_PORT=5432
     - POSTGRES_DB=my_db
    ports:
     - '5432:5432'
    healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 5s
        timeout: 5s
        retries: 5
    volumes:
      - pgdatasource:/var/lib/postgresql/data

  api:
    build: api/
    depends_on:
      db:
        condition: service_healthy
    ports:
      - '8080:8082'
    environment:
      - NODE_ENV=development
      - DATABASE_HOST=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_PORT=5432
      - POSTGRES_DB=my_db
    volumes:
      - type: bind
        source: ./api
        target: /app
    command: npm run start:dev

  ui:
    build: ui/
    depends_on:
      - 'api'
    ports:
      - '3000:3000'
    volumes:
      - type: bind
        source: ./ui/src
        target: /app/src